In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1548,tt0441048,11000000,46396427,Dhoom 2,Hrithik Roshan|Abhishek Bachchan|Aishwarya Rai...,Sanjay Gadhvi,Diwali 2006: Dhoom Machale once again!,"In the second installment of the Dhoom series,...",147,Drama|Action|Thriller|Crime,Yash Raj Films,11/24/2006,6.5,2006
360,tt1095174,8000000,29010817,New in Town,RenÃ©e Zellweger|Harry Connick Jr.|J.K. Simmon...,Jonas Elmer,She's an executive on the move. But her career...,Lucy Hill is an ambitious up-and-coming execut...,97,Comedy|Romance,Lionsgate|Edmonds Entertainment Group (EEG)|Ep...,1/30/2009,5.3,2009
1848,tt0146882,30000000,47126295,High Fidelity,John Cusack|Iben Hjejle|Todd Louiso|Jack Black...,Stephen Frears,"A comedy about fear of commitment, hating your...",When record store owner Rob Gordon gets dumped...,113,Comedy|Drama|Romance|Music,Buena Vista|Touchstone Pictures,3/17/2000,7.0,2000
1808,tt0207201,70000000,374111707,What Women Want,Helen Hunt|Mel Gibson|Marisa Tomei|Lauren Holl...,Nancy Meyers,He has the power to hear everything women are ...,Advertising executive Nick Marshall is as cock...,127,Comedy|Romance,Paramount Pictures|Centropolis Entertainment|I...,12/14/2000,6.0,2000
658,tt0780536,15000000,32002538,In Bruges,Colin Farrell|Brendan Gleeson|Ralph Fiennes|Cl...,Martin McDonagh,Shoot first. Sightsee later.,"Ray and Ken, two hit men, are in Bruges, Belgi...",107,Comedy|Drama|Crime,Blueprint Pictures|Scion Films|Film4|Focus Fea...,2/8/2008,7.3,2008

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
import itertools as iter
answers = {}  # создадим словарь для ответов


def season_check(month):
	if month in (12, 1, 2):
		return 'winter'
	elif month in (3, 4, 5):
		return 'spring'
	elif month in (6, 7, 8):
		return 'summer'
	elif month in (9, 10, 11):
		return 'fall'
data['profit'] = data.revenue - data.budget
data.release_date = pd.to_datetime(data.release_date)
data['release_month'] = data.release_date.dt.month
data['release_season'] = data.release_month.apply(season_check)
data['title_length'] = data.original_title.str.len()
data['overview_words'] = data.overview.apply(lambda x: len(x.split(' ')))  # count words
# below are copies of the initial dataframe with split fields
data_split_director = data.copy()  # for 13 and 14 exercises
data_split_director['director'] = data_split_director.director.str.split('|')
data_split_cast = data.copy()  # for 15 and 16 exercises
data_split_cast['cast'] = data_split_cast.cast.str.split('|')
data_split_genres = data.copy()  # for 17 exercise
data_split_genres['genres'] = data_split_genres.genres.str.split('|')
data_split_companies = data.copy()  # for 24 exercise
data_split_companies['production_companies'] = data_split_companies.production_companies.str.split('|')

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' 
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'  # +

In [8]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'  # +
data[data.runtime == data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [10]:
answers['4'] = '2. 110'  # +
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [11]:
answers['5'] = '1. 107'  # +
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [12]:
answers['6'] = '5. Avatar (tt0499549)'  # +
data[data.profit == max(data.profit)].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [13]:
answers['7'] = '5. The Lone Ranger (tt1210819)'  # +
data[data.profit == min(data.profit)].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [14]:
answers['8'] = '1. 1478'  # +
# First element of the tuple returned by Dataframe.shape contains the number
# of items in index in a dataframe i.e. basically the number of rows
# in the dataframe.
data[data.revenue > data.budget].shape[0]

1478

In [15]:
# alternative solution
len(data[data.revenue > data.budget].index)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [42]:
answers['9'] = '4. The Dark Knight (tt0468569)'  # +
data[
    (data.release_year == 2008) &
    (data.revenue == data[data.release_year == 2008].revenue.max())
    ].original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [45]:
answers['10'] = '5. The Lone Ranger (tt1210819)'  # +
data[
    (data.release_year >= 2012) &
    (data.release_year <= 2014) &
    (
        data.profit == data[
                    (data.release_year >= 2012) &
                    (data.release_year <= 2014)
                        ].profit.min()
    )
    ].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [18]:
answers['11'] = '3. Drama'  # +
Counter(data.genres.str.split('|').sum()).most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

In [19]:
data.genres.str.split('|').explode().value_counts().index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [20]:
answers['12'] = '1. Drama'  # +
Counter(data[data.profit > 0].genres.str.split('|').sum()).most_common(1)

[('Drama', 560)]

In [21]:
# alternative solution
data[data.profit>0].genres.str.split('|').explode().value_counts().index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [22]:
answers['13'] = '5. Peter Jackson'  # +
# d_rev - director_revenue
d_rev = data_split_director.explode('director').groupby('director')['revenue']
d_rev.sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [47]:
answers['14'] = '3. Robert Rodriguez'  # +
Counter(data[
            data.genres.str.contains("Action")
            ].director.str.split('|').sum()
        ).most_common(1)

[('Robert Rodriguez', 9)]

In [48]:
# alternative solution
exloded_director = data_split_director[
    data_split_director.genres.str.contains("Action", na=False)
    ].explode('director')
exloded_director.groupby('director')['director'].count().sort_values(
        ascending=False).index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [25]:
answers['15'] = '3. Chris Hemsworth'  # +
data_split_cast[
    data_split_cast.release_year == 2012
    ].explode('cast').groupby('cast')['revenue'].sum().sort_values(
        ascending=False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [52]:
answers['16'] = '3. Matt Damon'  # +
Counter(
        data[data.budget > data.budget.mean()].cast.str.split('|').sum()
       ).most_common(1)

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [28]:
answers['17'] = '2. Action'  # +
Counter(data[
            data.cast.str.contains("Nicolas Cage")
            ].genres.str.split('|').sum()
        ).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [49]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'  # +
data[
    (data.production_companies.str.contains("Paramount Pictures")) &
    (
        data.profit == data[
        data.production_companies.str.contains("Paramount Pictures")
                        ].profit.min()
    )
    ].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [31]:
answers['19'] = '5. 2015'  # +
release_year_revenue = data.groupby('release_year')['revenue'].sum()
release_year_revenue.sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [53]:
answers['20'] = '1. 2014'  # +
warner_revenue_year = data[
                        data.production_companies.str.contains('Warner Bros')
                        ].groupby('release_year')['revenue'].sum()
warner_revenue_year.sort_values(ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [33]:
answers['21'] = '4. Сентябрь'  # +
data.release_month.value_counts().sort_values(ascending=False).index[0]

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [34]:
answers['22'] = '2. 450'  # +
data[data.release_season == 'summer'].shape[0]

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [54]:
answers['23'] = '5. Peter Jackson'  # +
winter_directors_count = data_split_director[
    data_split_director.release_season == 'winter'
    ].explode('director').director.value_counts()
winter_directors_count.sort_values(ascending=False).index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [36]:
answers['24'] = '5. Four By Two Productions'  # +
companies = data_split_companies.explode('production_companies')
companies.groupby('production_companies')['title_length'].mean().sort_values(
    ascending=False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [37]:
answers['25'] = '3. Midnight Picture Show'  # +
companies = data_split_companies.explode('production_companies')
companies.groupby('production_companies')['overview_words'].mean().sort_values(
    ascending=False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [38]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'  # +
data[data.vote_average > data.vote_average.quantile(0.99)].original_title

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [39]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'  # +
pair_cast_dic = Counter()
for movie_casts in data.cast.str.split('|'):
	movie_casts.sort()
	movie_casts_pairs = list(iter.combinations(movie_casts, 2))
	for casts_pairs in movie_casts_pairs:
		pair_cast_dic[casts_pairs] += 1
pair_cast_dic.most_common(10)

[(('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Emma Watson', 'Rupert Grint'), 8),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Helena Bonham Carter', 'Johnny Depp'), 6),
 (('Paul Walker', 'Vin Diesel'), 5),
 (('Adam Sandler', 'Kevin James'), 5),
 (('Hugh Jackman', 'Ian McKellen'), 5),
 (('Kristen Stewart', 'Robert Pattinson'), 5),
 (('Kristen Stewart', 'Taylor Lautner'), 5)]

# Submission

In [55]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [56]:
# и убедиться что ни чего не пропустил)
len(answers)

27